$primary_color: #ff90bc;
$secondary_color: #ff90bc;
$thr_color: #555;
$four_color: #222;
$white_color: #fff;
$sub_color: #404040;
$color_success: #7a9c59;
$color_alert: #b20000;
$color_line: #f57224;
$color_mess: #246df5;
$color_border: rgba(202, 202, 202, 0.534);
