body {
    /* background-color: #00000008; */
}
.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.493);
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px;
    font-weight: bold;
}
/* Ẩn mặc định background hover của Swiper */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #f0f0f0; /* Màu nền hover nhạt */
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}
.swiper-pagination-bullet-active {
    background: #ffff;
}
/* Ant css custom */
/* :where(.css-dev-only-do-not-override-1kf000u).ant-select-outlined:not(
        .ant-select-disabled
    ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
    .ant-select-selector {
    border-color: #ff90bc;
}
:where(.css-dev-only-do-not-override-1kf000u).ant-select
    .ant-select-selection-wrap {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 4px;
} */
:where(
        .css-dev-only-do-not-override-1lwqn8e
    ).ant-btn-color-primary.ant-btn-background-ghost {
    color: #fff;
    border-color: #ff90bc;
}
:where(
        .css-dev-only-do-not-override-1lwqn8e
    ).ant-btn-color-primary.ant-btn-background-ghost:not(:disabled):not(
        .ant-btn-disabled
    ):hover {
    color: #fff;
    border-color: #ff90bc;
}
