@import "@styles/mixin.module.scss";
@import "@styles/variables.module.scss";

.container {
    position: relative;
    @media screen and (max-width: 480px) {
        .sideBar {
            width: 360px !important;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0000004d;
        z-index: 100000;
        transition: all 0.3s ease;
    }
    .sideBar {
        position: fixed;
        width: 450px;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #fff;
        z-index: 1000000;
        transform: translateX(450px);
        transition: all 0.3s ease;
    }
    .slideSideBar {
        transform: translateX(0);
    }
    .boxIcon {
        position: absolute;
        @include flex_box_custom(center, center, 0px);
        top: 5px;
        left: 5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            background-color: #ccc;
        }
    }
}
