.AdminContent {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    position: fixed;
    top: 100px;
    bottom: 20px;
    left: 240px;
    right: 20px;
    height: 90vh;
    overflow-y: scroll;
}
