.table {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px transparent;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #f77aac83;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ff90bc7e;
    }
}
.shipRequireBtn {
    font-size: 24px;
    cursor: pointer;
    &:hover {
        color: #ff90bc;
    }
}
.shipCancelBtn {
    font-size: 24px;
    cursor: pointer;
    color: red;
    opacity: 0.8;
    margin-left: 10px;
    &:hover {
        opacity: 1;
    }
}
.detailBtn {
    color: rgb(0, 119, 255);
    cursor: pointer;
    user-select: none;
    &:hover {
        color: #ff90bc;
    }
}
.itemBox {
    display: flex;
    margin-bottom: 15px;
    .itemImg {
        width: 150px;
        height: 150px;
        border-radius: 5px;
    }
    .itemContent {
        padding: 0 10px;
        .itemName {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
        }
        .itemOption {
            font-size: 14px;
            margin: 10px 0;
            color: #333;
        }
        .itemPrice {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .afterPrice {
                font-weight: 500;
            }
        }
    }
}
