@import "@styles/mixin.module.scss";
@import "@styles/variables.module.scss";
.trendHeading {
    text-decoration: underline solid $color_line;
    color: $sub_color;
    text-align: center;
}
.productBox {
    background-color: $white_color;
    padding: 50px 10px 25px;
    border-radius: 15px;
    overflow: hidden;
}
.trendBottom {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
