@import "@styles/mixin.module.scss";
@import "@styles/variables.module.scss";

.navPage {
    padding: 10px 0;
}

.mainProductImg {
    img {
        border-radius: 10px;
    }
}
.imageSlider {
    margin-top: 20px;
    img {
        border-radius: 10px;
        cursor: pointer;
    }
}

.productContent {
    margin-top: 16px;
    padding: 0 10px;
    .productType {
        color: $color_alert;
        font-size: 18px;
        text-decoration: none;
        font-weight: 500;
    }
    .productTitle {
        margin-top: 12px;
        font-size: 22px;
    }
    .productPriceBox {
        margin-top: 20px;
        @include flex_box_custom(start, center, 0px);
        .currentPrice {
            font-size: 22px;
            font-weight: 600;
            color: $sub_color;
        }
        .rootPrice {
            text-decoration: line-through;
            color: $thr_color;
            font-size: 18px;
            margin: 0 20px;
        }
        .priceSymbol {
            font-weight: 200;
            font-size: 12px;
            position: absolute;
        }
    }
    .productOptions {
        margin-top: 20px;
    }
    .productSize {
        margin-top: 20px;
        .sizeBtn {
            width: 40px;
            height: 40px;
        }
    }
    .productQuantity {
        margin-top: 20px;
        .addToCartBtn {
            height: 40px;
            margin-left: 30px;
            width: 200px;
            font-size: 14px;
            background-color: #162d4b;
            &:hover {
                background-color: #1d5fb1;
                transform: scale(1.03);
            }
        }
    }
    .buyNowBtn {
        height: 50px;
        margin-top: 40px;
        width: 300px;
        font-size: 14px;
        background-color: #ff7ba7;
        font-weight: 600;
        &:hover {
            background-color: #f54680;
            transform: scale(1.03);
        }
    }
}
.productRelation {
    margin-top: 40px;
    .relationTitle {
        font-size: 25px;
        margin-bottom: 20px;
    }
}
